# Данные
data/raw/*
data/processed/*
data/cache/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/cache/.gitkeep

include/
htmlcov/


# Логи
logs/*
!logs/.gitkeep
monitoring/logs/*

# Python
__pycache__/
.pytest_cache
*.py[cod]
*.egg-info/
.env
.venv/
.coverage

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# Отчёты (генерируемые)
docs/reports/*
!docs/reports/.gitkeep
!docs/reports/CHANGELOG.md
